/* login page */

#form {
    padding: 10px;
    margin: 15px;
    text-align: left;
    padding-left: 35%;
    padding-right: 30%;
    border-radius: 1px;
}
#form input {
    border-radius: 3px;
    border: 1px solid #555555;
}
#form label {
    font-style: italic;
    display: block;
}

.logininfo{
    width: 60%;
}
body {
    background-color: #f6f6f6;
    background-repeat: repeat;
    margin: 0;
    display: grid;
    background-size: 100%;
}

/* login page */
.item1 { grid-area: username; }
.item2 { grid-area: usinput; }
.item3 { grid-area: password; }
.item4 { grid-area: psinput; }

.grid-login {
    display: grid;
    grid-template-areas: 'username usinput '
    'password psinput ';
    grid-gap: 10px;
    padding-right: 45%;

}

/* Style for the vacationday page */
.vacationday-container{
    margin-left:10%;
    display: grid;
    grid-template-columns:repeat(3, 33.3333%);
    grid-template-rows: repeat(2, 50%);
    width: 80%;
}

.vacation-daypicker1{
    grid-row: 2;
    grid-column: 1;
}
.vacation-daypicker2{
    grid-row: 2;
    grid-column: 2;
}
.vacation-labeluntil{
    grid-row: 1;
    grid-column: 2;
}
.vacation-labelfrom{
    grid-row: 1;
    grid-column: 1;
}
.buttonvacation{
    grid-row: 1/3;
    grid-column: 3;
    width:100%;
    height: 100%;
    font-weight:bold;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    -ms-transform: translateY(5%);
    transform: translateY(5%);
}

.vacationdates{
    text-align: center;
}

/* gridContainer for header  */
.logout {grid-area: logout}
.edit {grid-area: edit}
.shift{grid-area: shift}
.password{grid-area: password}

.grid-container-navigation {
    display: grid;
    grid-template-areas:
            'shift logout edit password';
    grid-gap: 8px;
    padding-top: 10px;

    padding-left: 20%;
    padding-right: 20%;
}
.loggedin{
    font-weight:bold;
    padding: 10px 25px;
    font-size: 18px;
    position: fixed;
    grid-gap: 5px;
    text-align: center;
    top: 12%;
    margin-right: 12%;
    right:30%;
}
.fte{
    font-weight: bold;
    padding: 10px 25px;
    font-size: 18px;
    position: fixed;
    top: 17%;
    margin-right: 12%;
    right: 35%;
}
/* button for sumbit */
.button{
    padding: 10px 25px;
    font-weight:bold;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.button_availability{
    padding: 10px 25px;
    font-weight:bold;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    position: absolute;
    left:46%;
    -ms-transform: translateY(5%);
    transform: translateY(5%);
}
/* logout button*/
.button_logout{
    padding: 10px 25px;
    font-weight:bold;
    font-size: 16px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    top: 9%;
    margin-right: 3%;
    right:0%;
    position: fixed;
    clear: both;
    float: right;
    height: 7%;
}
/* logout page */
.logout-container{
    display: inline-grid;
    height: 90%;
    grid-gap: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 10px 0;
}
/* header page */
.pageHeader{
    position: sticky !important;
    top: 0px;
    background-color: #f6f6f6;
    width: 100%;
    height: 90%;
    padding: 5px;
    border-bottom: 1px dotted gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 20;
    position: center;
}

.tabs a {
    text-decoration: none;
    color: #0f0101;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
    top: -9px;
    left: 2%;
    transition-duration: 0.6s;
    width: 100%;
}

.tabs a i {
    margin-right: 2px;
}

.tabs a:hover {
    color: #917999;
    font-size: 16px;
}

/* logo */
.logo {
    width: 150px;

    height: 150px;
    position: center;
    left: 2%;
    top :1px;
}

/* editing page table */
.columns {

    font-weight: bold;
}
.tb_header {
    width: 80%;
    font-weight: normal;}

.tb_header td {
    border: 1px solid #ddd;
    padding: 8px;
}
.tb_header td:hover {background-color: #ddd;}

.tableHead{
    alignment: center;
    font-size: 20px;
    background-color:  #7fbdbb ;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*Availibility grid container */
.grid-container {
    width: 90vw;
    margin-left: 4%;
    height: 30vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: #86878a;
    border: 1px solid black;
    padding: 10px;
}

.grid-container > div {
    alignment: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #A7CECD;
    border: 1px solid black;
    text-align: center;

}

.grid-container > label {
    background-color: #f6f6f6;
    border: 0.5px solid black;
    font-size: 17px;
    font-weight: bold;
}
.hidden{
    display: inline-grid;
    height: 90%;
    grid-gap: 5px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 10px 0;
    right: 0%;
  margin-left: 35%;
}